/* Banner */
.banner {
    background: url('/images/fundo_tecnologia_v11.jpg') no-repeat center center;
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  /* Seção de Profissionais */
  .teamSection {
    background-color: #121721;
    padding: 50px 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  
  .card {
    background-color: #1b202a;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 300px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  }
  
  .profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
  }
  
  .name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #547ec7;
  }
  
  .position {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #aaa;
  }
  
  .bio {
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ffffff;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 100%;
      max-width: 400px;
    }
  }
  